<div id="editing">
  {{outlet}}
</div>

<h4>Link #{{id}}</h4>
<p>The url {{link}} has {{votes}} votes</p>


<p>{{#link-to 'link.edit'}}Edit{{/link-to}}</p>
<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
<br>
<h4>Comments</h4>
<ul>
{{#each comment in comments}}
  <li>{{comment.text}}</li>
{{/each}}
</ul>

<form action="">
  <fieldset>
    {{textarea value=comment_params.text}}
  </fieldset>
  <button class="btn btn-primary" {{action 'createComment'}}>Post Comment</button>
</form>